@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css');

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  --background: white;
  --clr-hover: hsl(0, 0%, 94%);
  --textColor: black;
  --soft-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  --accentColor: #0090FC;
  --z-index: 1000;
}

@import "mixins";

*, *:is(::before, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendarify {
  position: absolute;
  left: 0;
  z-index: var(--z-index);
  padding: 1em;
  background: var(--background);
  box-shadow: var(--soft-box-shadow);
  color: var(--textColor);
  font-family: inherit;
  border-radius: 1em;
  display: none;

  &:is([data-theme="dark"]) {
    --background: hsl(0, 0%, 10%);
    --clr-hover: hsl(0, 0%, 20%);
    --textColor: white;
    --clr-soft-gray: hsl(0, 0%, 94%);
    --soft-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &:is(.show) {
    display: block;
  }

  @import "reset";

  &__quick-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .4em;
    margin-bottom: 1em;

    button {
      padding: .5em 1em;
      background: var(--background);
      box-shadow: var(--soft-box-shadow);
      border-radius: 1.5em;
      font-weight: bold;
      font-size: .85rem;

      &:hover {
        background: var(--clr-hover);
        box-shadow: var(--soft-box-shadow);
      }
    }
  }

  &__navigations {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1em;

      li {
        &:nth-child(2) button {
          font-weight: 600;
          font-size: 1.050rem;
        }

        &:is(:first-child, :last-child) button {
          border-radius: 50%;
          box-shadow: var(--soft-box-shadow);
        }

        button {
          padding: .38em .5em;
          border-radius: .6em;

          &:hover {
            background: var(--clr-hover);
          }
        }
      }
    }
  }

  &__calendar {
    & > .days-wrapper {
      @include grid(7, .3em);
      font-size: .9rem;
      margin-bottom: .6em;
  
      li {
        text-align: center;
        font-weight: 500;
      }
    }
  
    & > .dates-wrapper {
      @include grid(7, .3em);
      font-size: .9rem;
  
      li {
        text-align: center;
        
        button {
          width: 2.5em;
          height: 2.3em;
          border-radius: .8em;
  
          &:is(.active) {
            background: var(--accentColor);
            color: white;
            font-weight: 600;
          }
  
          &:not(.active):is(.holiday) {
            color: red;
          }
  
          &:not(.active):is(.pre-holiday) {
            color: var(--accentColor);
          }
  
          &:is(:disabled) {
            cursor: auto;
            color: hsl(0, 0%, 70%) !important;
            background: var(--background);
            font-weight: 400;
          }
  
          &:not(.active, :disabled):hover {
            background: var(--clr-hover);
          }
        }
      }
    }
  
    & > :where(.months-wrapper, .years-wrapper) {
      @include grid(4, .5em);
  
      li {
        text-align: center;
  
        & > button {
          @include buttonExpand;
        }
      }
    }
  }

  .d-none {
    display: none;
  }
}