@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css');

:root {
  font-size: 16px;
  --background: white;
  --clr-soft-gray: hsl(0, 0%, 94%);
  --soft-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --accentColor: #0090FC;
}

@mixin grid($columns, $gap, $isCenter: true) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  @if $isCenter {
    align-items: center;
  }
  gap: $gap;
}

@mixin buttonExpand {
  font-size: .95rem;
  padding: .65em;
  border-radius: .6em;
  font-weight: 500;

  &:is(.active, :hover) {
    background: var(--accentColor);
    color: white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendarify {
  position: absolute;
  left: 0;
  z-index: 9999;
  padding: 1em;
  background: var(--background);
  box-shadow: var(--soft-box-shadow);
  width: fit-content;
  font-family: inherit;
  border-radius: 1em;
  display: none;
  width: min(100%, 300px);

  &:is(.show) {
    display: block;
  }

  button {
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  .quick-actions {
    display: flex;
    align-items: center;
    gap: .4em;
    margin-bottom: 1em;

    button {
      padding: .5em 1em;
      background: var(--clr-soft-gray);
      border-radius: 1.5em;
      font-weight: 500;

      &:hover {
        background: white;
        box-shadow: var(--soft-box-shadow);
      }
    }
  }

  .days-wrapper {
    @include grid(7, .6em);
    font-size: .9rem;
    margin-bottom: .6em;

    li {
      text-align: center;
      font-weight: 500;
    }
  }

  .dates-wrapper {
    @include grid(7, .4em);
    font-size: .9rem;

    li {
      text-align: center;
      
      button {
        width: 2.5em;
        height: 2.3em;
        border-radius: .8em;

        &:is(.active) {
          background: var(--accentColor);
          color: white;
          font-weight: 600;
        }

        &:not(.active):is(.holiday) {
          color: red;
        }

        &:not(.active):is(.pre-holiday) {
          color: var(--accentColor);
        }

        &:is(:disabled) {
          cursor: auto;
          color: hsl(0, 0%, 70%) !important;
          background: white;
          font-weight: 400;
        }

        &:not(.active, :disabled):hover {
          background: var(--clr-soft-gray);
        }
      }
    }
  }

  .months-wrapper {
    @include grid(4, .5em);

    li {
      text-align: center;

      & > button {
        @include buttonExpand;
      }
    }
  }

  .years-wrapper {
    @include grid(4, .5em);

    li {
      text-align: center;

      & > button {
        @include buttonExpand;
      }
    }
  }

  .navigation {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1em;

      li {
        &:nth-child(2) button {
          font-weight: 600;
          font-size: 1.050rem;
        }

        &:is(:first-child, :last-child) button {
          border-radius: 50%;
          box-shadow: var(--soft-box-shadow);
        }

        button {
          padding: .38em .5em;
          border-radius: .6em;

          &:hover {
            background: var(--clr-soft-gray);
          }
        }
      }
    }
  }

  .trigger-buttons {
    @include grid(2, .5em, false);
    margin-top: 1em;

    button {
      border-radius: .5em;
      background: var(--clr-soft-gray);
      font-weight: 500;
      transition: .2s all ease;
      color: gray;

      &:last-child {
        background: var(--accentColor);
        color: white;
        padding: .6em 0;
      }

      &:hover {
        scale: .96;
      }
    }
  }

  .d-none {
    display: none;
  }
}